name: Frontend CI (Next.js)

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Node setup
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: ./frontend
        run: npm install

      - name: Build Next.js app
        working-directory: ./frontend
        run: npm run build

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build frontend Docker image
        run: docker build -t ghcr.io/petarpetrov05/enjoyinvest-frontend:latest ./frontend

      - name: Push frontend Docker image
        run: docker push ghcr.io/petarpetrov05/enjoyinvest-frontend:latest
